{% extends 'layout.html' %}

{% block main %}
<h1 class="mt-5">Modifier l'Utilisateur</h1>

<form class="w-50 mx-auto border p-3 mt-5" method="POST" action="{{ url_for('edit_user', user_id=user.id) }}">
    <div class="mb-3">
        <label for="email" class="form-label">Adresse email</label>
        <input type="email" name="email" class="form-control" id="email" value="{{ user.email }}" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" name="password" class="form-control" id="password" required>
    </div>
    <button type="submit" class="btn btn-success">Modifier</button>
    <a href="{{ url_for('tableBoard') }}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}
